[2016-04-05 16:08] cosmarvv opened #1 "Options"
Hi, this is working, but how can change date format, use seconds and assign an init datetime.
I want to do something like this:

defaultDate: moment(dateNow).hours(0).minutes(0).seconds(0).milliseconds(0),
format: "MM/DD/YYYY HH:mm:ss",
locale: 'es',

Thanks

[2016-04-11 15:48] atais commented on #1
use the options parameter providing json input.
did you check out the plunker demo?

[2016-04-14 09:07] #1 closed

[2016-04-14 11:34] cosmarvv commented on #1
Thanks, your DateTimePicker really works great!!
5 stars

[2016-04-20 09:17] TinoPham commented on #1
It work great!

[2016-04-28 16:00] alfredobarron opened #2 "I am using master or 4.15.35 and does not work correctly!"
Error in time, any idea

[2016-04-28 16:52] #2 closed

[2016-06-09 01:46] aselby opened #3 "required and $error.required"
I updated to this version of the control, and moved the control to a input group instead of the input type and I can't figure out how to make the angular error stuff work. Any suggestion ?

[2016-06-09 08:24] atais commented on #3
what do you mean by 'angular error stuff'

[2016-06-13 14:45] rodrigosaling opened #4 "How to use $validators"
Hello!

I am currently using the diosney directive to load the datetimepicker on my application, and with it I am using some `$validators` to test a group of dates on a page. Right now it is working fine because diosney's solution uses the `ng-model` on each `<input>`, but I want to be able to open the datetimepicker by clicking on the button, like your examples. This is an example of my code:

[2016-06-13 21:02] rodrigosaling commented on #4
Well, I found some issues with my code and after fixing them, I managed to make the validators work by declaring the `ng-model` to the `<input>`:

[code]

But if I try to type the date on the input field, it tries to parse the text after each character, and that's not good.

[2016-06-14 08:17] atais commented on #4
@rodrigosaling could you present the plunker that you mentioned?

So to sum up, after moving from `ng-model` to `date` the angular `$validators` do not work anymore? If that is so I would revert that change.

What happened is that I actually watch over all the `options` object now and if you update it I update the parameters of the datetimepicker library. That was the fastest way I could think of

[2016-06-15 15:23] rodrigosaling commented on #4
@atais try to access this link: http://plnkr.co/edit/JLRHoNxLBWuD7mm3IEpZ?p=preview to see my modifications.

The validation I am doing tests if the second date is before the first, and if the first date is after the second, like using maxDate and minDate, but allowing the user to select any date on both datepickers. This logic is now working, but you can try to change the year of one of the field

[2016-06-16 10:35] atais commented on #4
Ok I see your point now.

Please try using the new, `0.3.3` version. The directive uses ng-model again, so you should be able to put double directive around the `input-group`.

Please tell me how it worked out for you! Thanks!

[2016-06-16 10:51] #3 closed

[2016-06-16 14:41] rodrigosaling commented on #4
I created a new plunker because the previous one was assigned to _Anonymous_ user instead of me. Here it goes http://plnkr.co/edit/ZxtpgNhPvm2XSDoZDysE?p=preview

I already updated library link to `0.3.3` and I am declaring the `ng-model` on the `div.input-group`. But I can't make the validators work. I think the validtor directive can't find the model to work with. And what do you mean by "put th

[2016-06-17 13:00] atais commented on #4
OK. To begin with I have not used `$validators` before :-)

I investigated a little deeper, with this tutorial about $validators: http://blog.thoughtram.io/angularjs/2015/01/11/exploring-angular-1.3-validators-pipeline.html

So what I see from your plunker you would like to actually validate the date `input`, but since you attach the `datetimepicker` directive around `input-group` your input does

[2016-06-20 19:50] rodrigosaling commented on #4
Your MacGyver-style solution is very interesting in a case of tight deadline. I will keep it for future reference ;-)

But don't worry about time. I modified one of the aselby's commits to solve my problems, since I don't need the `$watch` on options. I really appreciate your help on this. Thanks @atais!

[2016-06-21 08:13] atais commented on #4
@rodrigosaling can you post your modification here? So the validation works on `input-group`?
I would gladly improve this fork :-)

Thanks!

[2016-06-27 13:21] rodrigosaling commented on #4
Hello @atais!

I created a new fork from **aselby**'s code and committed it here: https://github.com/rodrigosaling/angular-bootstrap-datetimepicker-directive/blob/master/angular-bootstrap-datetimepicker-directive.js

Sorry for late reply.

[2016-07-18 09:06] atais commented on #4
@rodrigosaling its has been a while, but even with version `0.3.3`; if you would have attached the directive to the `input` element the validation works no problem.

Check out this plunker: http://plnkr.co/NmFt43
and also see the updated `0.3.4` version.

[2016-07-20 21:33] rodrigosaling commented on #4
Thanks @atais for the update! But how do I make the datetimepicker open by clicking on the button instead of the input?

[2016-07-21 09:31] atais commented on #4
That is the downside. But is it possible in **your** fork or **aselby's**?

[2016-07-21 13:05] rodrigosaling commented on #4
I forked an old Plunker to use [my fork](https://github.com/rodrigosaling/angular-bootstrap-datetimepicker-directive/blob/master/angular-bootstrap-datetimepicker-directive.js) of the datetimepicker: http://plnkr.co/edit/S0uzzPTcUH8jwNpDGUjZ?p=preview
In this example, it uses a custom validator to check if the range of dates is correct. You can try to set the **To** date to a day before the **From*

[2016-07-21 13:57] atais commented on #4
Awesome! So with `0.3.4` validation is OK, but the button does not work.

To be honest I do not know why on your fork the button works, because you still use the directive on `input`... and then it is "magically" operating from `span` element as well.

Simply said I would actually say that mine version works more like it actually should ;-)
But anyway - I am looking into this.

Thanks for all the

[2016-07-21 14:38] rodrigosaling commented on #4
I guess it's the use of `datePickerElement` with `$element`, but I am not sure either.
I really appreciate all your effort on this issue @atais. Good luck in further discoveries!

[2016-07-21 15:47] atais commented on #4
Wow. OK it was not that hard. I did not notice that before though!

Everything seems to work. I simplified your plunker a bit and made an example here: http://plnkr.co/ZeKX7z

Looks good :-)?

Big thank you again, I hope you don't mind that I've put your name under "Special thanks" in readme.

[2016-07-22 07:20] #4 closed

[2016-07-22 12:57] rodrigosaling commented on #4
Great job @atais, it's working perfectly. And thanks for the mention!

[2016-08-17 08:25] joest67 opened #5 "widget clear button not work in v0.3.4"
[code]

With above changes, bootstrap datetimepicker's clear button will not work, for setting empty value  is not allowed.

demo: http://plnkr.co/OMmKHw

[2016-08-20 13:39] jnm2 opened #6 "Impossible to select dates because day replaces month"
Bug demo: https://plnkr.co/M0nMTy

To see the bug, select one of the first twelve days of any month, say 08/02/2016, and see that the picker changes it to 02/20/2016 (the 20th is today's date at the time of writing). Select 08/03/2016 and it changes to 03/20/2016.

The main difference is that the `datetimepicker` and `ng-model` attributes are on the input element rather than the containing div, wh

[2016-08-29 14:48] atais commented on #6
It has nothing to do with the wrapper.

Actually your `script.js` is simply broken.

[code]

if you follow the original example, replace the above with

[code]

everything works.

[2016-08-29 14:50] jnm2 commented on #6
@atais I need the getter and setter with a `Date`-typed backing field. That's not something I can work around.

[2016-08-29 14:52] jnm2 commented on #6
@atais I need the getter and setter with a Number-typed backing field. That's not something I can work around. I can keep both a moment object and a number but sooner or later they have to reconcile both directions and this problem happens.

The whole point of the script.js is to boil the issue down to the essentials. Getters and setters are a good viewmodel pattern and the setter is essential to

[2016-08-29 14:58] atais commented on #6
@jnm2 I have not used your way before.

Still, I do not really know what you are trying to achieve, but you bind your the `ng-model` of datetimepicker to `vm.date` and in controller you are not using `vm` object. So you simply do not bind the controller value to the datepicker value - and that is why the problem occurs.

[2016-08-29 15:08] jnm2 commented on #6
@atais I don't think that can be correct. The controller property is getting bound. Put `alert('x')` in the getter or setter to see it. Angular was designed so that getters and setters can be used this way.

Also, you can see what to expect from the code. The controller factory returns `{ get() date, set(value) date }` as the controller, then the ng-controller is `controller as vm`, so `vm.date` i

[2016-08-29 15:13] atais commented on #5
It is actually because of this line

[code]

I will make a fix shortly

[2016-08-29 15:21] atais commented on #6
Hm, you are right. As I told, I have not used this way before. I have tried putting a starting date and displaying it though, and got an [error](https://docs.angularjs.org/error/$rootScope/infdig?p0=10&p1=%5B%5B%7B%22msg%22:%22fn:%20function%20%28%29%7Bvar%20b%3Dp%28a%29;if%28b!%3D%3Dr.$modelValue%26%26%28r.$modelValue%3D%3D%3Dr.$modelValue%7C%7Cb%3D%3D%3Db%29%29%7Br.$modelValue%3Dr.$$rawModelValu

[2016-08-29 15:24] jnm2 commented on #6
Gotcha. I discovered the workaround I mentioned in my original post but I don't totally understand it either. I can submit a PR with the fix but I want to take time to figure out why the fix works and if it's the right fix.

[2016-08-29 15:26] atais commented on #6
I mean I could see why this is happening, because you return new moment object each time and read its value, thus making the calendar to update this value to a moment and so on.

But I am not sure if this is more of a wrapper fault or your code :P

Its not  nice, but I think you should head more-less this way:

[code]

[2016-08-29 15:52] jnm2 commented on #6
So here's why I need to convert to and from a number. The viewmodel doesn't actually store the date itself; it forwards the get and set to a `ViewportService.offset` property which must be a number and which scrolls a bunch of d3.js graphs. When you zoom in and out, `ViewportService.offset` also changes (so that the center of the zoom is always under the mouse cursor). That means `vm.date` changes

[2016-08-29 16:05] atais commented on #6
You could make a nice StackOverflow question out of it... but in the end you will need more than just a getter and a setter. Still I did not have a problem like that.

[2016-08-30 14:20] atais commented on #5
Its working in `0.3.6`, please see the update :-)
http://plnkr.co/edit/n8L8UZ

[2016-08-30 14:21] #5 closed

[2016-08-30 14:39] atais commented on #6
Anyway, if you happen to find a way to fix it I would gladly accept the PR :+1:

[2016-09-13 10:06] agenestar opened #7 "Update min/max date dynamically"
I know an issue is not a question, but I can't find any example

Is it possible to update the min and max date dynamically?

[2016-09-13 17:40] atais commented on #7
There is an example exactly like this...

[2016-09-13 17:40] #7 closed

[2016-09-13 18:32] jnm2 commented on #7
It's under https://github.com/atais/angular-eonasdan-datetimepicker#examples, and it's called "Example with two, linked datetimepickers."

[2016-09-14 06:37] agenestar commented on #7
Sorry guys, this issue was meant to be created in another repository. I was comparing directives and I mixed it up.

[2016-09-15 21:47] Maethorin opened #8 "current date change to maxDate if it is today"
I'm setting the ng-model of the datetimepicker to a date 4 days past and the maxDate to today. When I render the page, the current date show for less than a second and then it changes to maxDate. If I use anything different from today as maxDate, it keeps the correct current date. The problem is only when i set maxDate to today:

CONTROLLER:

[code]

HTML:

[code]

How can I fix this? How can I ha

[2016-09-15 21:53] Maethorin commented on #8
srry dude, just after posting this I see that you code is really just a wrapper and could not be the cause of this problem... I'll post this at the component github

[2016-09-15 21:53] #8 closed

[2016-09-16 10:36] atais commented on #8
I think that your problem is not in the wrapper nor in the lib. It is because of your code

you have the source of issue in front of you.

[2016-09-16 14:30] Maethorin commented on #8
Nope... this was not the case...

Reading the issues in the bootstrap-datepicker github, I found other ppl with the same problem and what they suggest to fix their problems work for me too... I needed to set `useCurrent` to `false` in the datepicker options... So.. it's a component issue and this is some workaround...

Ty anyway

[2016-09-17 19:25] elaith9 opened #9 "Two way ng-model binding not working"
I can get value from ng-model but i cannot set it. Also if i change property inside options, it doesnt take effect. Any ideas what it might be? I literally copied example from your plunker.

PS: i found solution for ng-model not working, datetimepicker attribute was on wrong element, but i still canont change options "on fly". I also noticed if i put 120 into stepping it still lets me choose every

[2016-09-19 07:31] atais commented on #9
Without a plunker with the problem I am not able to help.

[2016-09-20 18:09] #9 closed

[2016-09-30 07:42] atais commented on #6
any conclusion :-)?

[2016-10-03 12:11] jnm2 commented on #6
Wow, I'm behind. I have a fix. Will follow up soon.

[2016-10-06 07:32] hdn8 opened #10 "Open on input focus"
Is this possible?  Some way to access the show methods would work, adding a click event and then firing the show() method, such as:  https://github.com/Eonasdan/bootstrap-datetimepicker/issues/704

[2016-10-06 07:43] atais commented on #10
There is an answer in the issue you have mentioned!

use `allowInputToggle: true` option

[2016-10-06 07:43] #10 closed

[2016-10-06 07:45] hdn8 commented on #10
Excellent!  I didnt find that in the options, thanks.

[2016-10-06 17:01] oracleruiz opened #11 "Set Default Hour"
Hi, I finished here because is the only date time picket that worked for me and that I like. But I was looking how to set a default hour to 00:00. Does it is supported? I did not found anything on documentation.

[2016-10-07 09:01] atais commented on #11
First, this is only wrapper. If you are looking for options of the lib itself, ask here: https://github.com/Eonasdan/bootstrap-datetimepicker

Still, I do not know any option like this either, but you can use `moment` to change the date as you like:

[code]

[2016-10-07 09:01] #11 closed

[2016-10-10 09:32] Jurigag opened #12 "Existing dates are immediately overwritten by current dates, ng-bind must be moment object(?)"
Plunkr: http://plnkr.co/edit/C5eIVre55XUFbCet5c8p

Even when i set it as defaultDate, or set useCurrent to false it's still happening, right now this is causing me to not using this.

[2016-10-10 09:36] Jurigag commented on #12
Well changing it to:

`vm.date = moment('2016/05/13/ 21:22','YYYY/MM/DD HH:mm');` fix a problem

But shouldn't it accept string anyway ? If i run it with defaultDate without directive i can provide just string.

Actually changing this line:

https://github.com/atais/angular-eonasdan-datetimepicker/blob/master/dist/angular-eonasdan-datetimepicker.js#L60

to `moment($scope.date,$scope.options.format

[2016-10-10 13:26] atais commented on #12
As you have found out, currently `moment object` is preferred. I have added the default conversion, because I often faced `Date` objects in my application that I did not want to transform manually.

In your case it is best if you parse the `String` on your own and provide a proper object to the directive, as you mentioned:

`vm.date = moment('2016/05/13/ 21:22','YYYY/MM/DD HH:mm');`

Your requeste

[2016-10-10 13:27] #12 closed

[2016-10-25 16:24] taraskravec opened #13 "Change watch for options to compare object (objectEquality == true)"
Hi, how in simple way change min/max date for two connected date pickers?
Only by directly assign options with min/max date using onChange function?

[2016-10-26 13:11] atais commented on #13
Sorry I do not understand your question. Follow this example: http://plnkr.co/ZSjN8f

[2016-10-26 14:17] taraskravec commented on #13
If write instead of:

[code]

This one:

[code]

It will not work, because in this case optionsFrom object does not changed.

[2016-10-26 21:39] atais commented on #13
Ah alright I understand now.

You referred to the angular docs: https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$watch `[objectEquality]`

I am wondering if the options object can get big enough to cause performance issues... Hopefully not 😄  I will add this function soon.

[2016-10-26 22:07] atais commented on #13
Check out the new version.
Also updated the plunker: http://plnkr.co/edit/ZSjN8f

[2016-10-26 22:07] #13 closed

[2016-10-27 10:23] taraskravec commented on #13
thanks

[2016-11-03 15:40] anx-ckreuzberger opened #14 "NgModel not properly synced/watched when using datetimepicker directive on input field"
Documentation says:
Simply add datetimepicker tag and add the ng-model (required) attribute. Currently the datetimepicker tag can be added on either input-group or the input element.

Apparently using a HTML5 input field and having ng-model aswell as datetimepicker directive on it will not work.

[code]

[code]
However, setting ``vm.date = moment('2015-11-20T22:10:50Z');`` without a $timeout (whic

[2016-11-04 09:06] anx-ckreuzberger opened #15 "Different behaviour with bootstrap-datetimepicker 4.17.42 vs. 4.17.37"
Hi!
Based on your Simple example with one datetimepicker http://plnkr.co/edit/n8L8UZ I discovered a problem, and I'm not sure if this is more a problem of the bootstrap-datetimepicker or with this angular directive. Nevertheless, I thought I should report it.

Expected behaviour (works with 4.17.37):
(Open the plunkr above and run it)
Press Add +1w about 5 times (it MUST jump you to at least one m

[2016-11-04 09:18] anx-ckreuzberger commented on #15
eonasdan-bootstrap-datetimepicker@4.17.43 has the same issue as 4.17.42.

Also, 4.17.37 can NOT be installed using npm...

This pretty much leaves this angular library in a spot where it does not work as expected (when using npm), unless you are willing to use a CDN version of the datetimepicker or download it manually or use npm install git+https://...

[2016-11-04 09:29] atais commented on #15
Well cutting long story short... if by changing the version of date-time picker you observe different behaviour it is not the problem of the directive.

Myself I am using bower for dependencies because they rely on GitHub tags.

To sum up, I understand your problems, though all of them should be posted on library's GitHub and are really not in my decision to be fixed or not. The library itself has

[2016-11-04 09:43] anx-ckreuzberger commented on #15
Then you still run into the problem of new users that install your package will get version 4.17.43 automatically:

[code]

It's definately good that one can get 4.17.37 by using bower, though with so many people abbandoning bower in favour of npm (npm is even the first installation method mentioned in the README) I believe we should find a fix.

edit: on that note, temporary fix for bower:

[code

[2016-11-04 11:50] atais commented on #14
I started investigating it and it is worse than I thought. I will need some more time to fix this one.

[2016-11-04 11:55] atais commented on #15
To be honest I totally understand you, but still I have no answer other than manually selecting the version. I was not even aware of the bugs you have just  pointed out in the newest version and probably most of the users did not use those "corner cases" as well :smile:

I wonder if the bug above could be anyhow connected to #14 so let me fix that one first and I will try to focus here later.

[2016-11-04 14:18] anx-ckreuzberger commented on #15
Could be connected. One way to "fix" this issue was to call setDefault(ngModel.$viewValue) in ngmodel.$render, which would overwrite the default value.
Though I'm pretty sure this is not the way it's intended to work.

[2016-11-04 15:41] akamarvin commented on #14
I agree with the issue reporter, when for instance you have another version of the same date field (so same model ) for the purpose of displaying a "summary" tab in a big multi-tab form , then that second one does not listen/sync with the change in the model from the other. So generally speaking, change to the model which may come from somewhere else than the current ae-DTP field are just not obse

[2016-11-07 15:55] atais commented on #14
@anx-ckreuzberger OK I think I have solved the reported problem in `0.3.8`. Please check the update. I have updated the main plunker with both options: http://plnkr.co/edit/n8L8UZ?p=preview

@Tamadadoo I am not sure, but possibly the update also solves your problem. If you can, update the library in your project and please report back.

[2016-11-07 15:59] atais commented on #15
Tested with `0.3.8` but the library version `4.17.42` still shows wrong month.

[2016-11-07 16:13] atais commented on #15
@anx-ckreuzberger It is a feature :smile_cat:

The calendar was designed in a manner that if the selected day is still visible on the previous month's page it does not change the page. In your example:

On the November's page you can see two rows of days from December and in `4.17.42` until the 13.12.2016 is reached the next page is not loaded (because it is not required). Maybe there is an option

[2016-11-07 16:14] #15 closed

[2016-11-08 13:38] #14 closed

[2016-11-08 13:39] atais commented on #6
There is a big change in updating of the `ng-model` in `0.3.8` so the issue would have to be retested.

[2016-11-08 13:39] #6 closed

[2016-11-09 14:29] akamarvin commented on #14
Indeed the revised $render and onchange did the trick !  And also allowed for a proper management of required inputs, when they are emptied. Many thanks. All for the better.
Out of curiosity, what did the deep watch of the options resolved ? what was the issue ? (the commit before)

[2016-11-09 14:42] atais commented on #14
@Tamadadoo #13

[2016-12-06 13:12] reymonreyes opened #16 "Date not set on first open of the picker"
Hi,

I'm experiencing a weird problem on the picker. This is what happens.
When datetimepicker is show for the first time it shows the current date.
![screenshot_1](https://cloud.githubusercontent.com/assets/476682/20926623/4d14b736-bbf8-11e6-8932-8123273b8e5a.jpg)
Then after opening it again it shows the correct date.
![screenshot_31](https://cloud.githubusercontent.com/assets/476682/20926642/718

[2016-12-06 14:20] atais commented on #16
can you reproduce with plunker?

[2016-12-20 14:50] sjanofsky commented on #16
I'm experiencing the same issue... the ng-model is

ng-model="student.DateOfBirth"

student is derived from this

<tr ng-repeat="student in students">

would this cause an issue?

I'm also not using the "controller as" methodology, would this cause an issue?

[2016-12-20 15:26] atais commented on #16
simply fork the plunker ( http://plnkr.co/n8L8UZ ) and reproduce your issue

[2016-12-20 15:30] sjanofsky commented on #16
It seems to be an issue with the original bootstrap-datetimepicker.js... at line 869 it shows the following:

//viewDate = date.clone(); // TODO this doesn't work right on first use

after uncommenting this line it works fine.

[2016-12-20 15:32] atais commented on #16
which version of the date time picker you are using?

[2017-01-05 05:39] gbluv opened #17 "Does not set the value at all"
I did setup exactly the same way as your plunker with the only difference that I use scope instead of controller as. Your plugin picks up the properties that way but value does not change. I've set up watcher on the model and it does not see the change in the value even though control shows and you can pick and choose date and that sets in to input box.

[2017-01-05 10:04] atais commented on #17
can you fork the plunker and apply your changes?

[2017-01-18 10:40] pepijnolivier opened #18 "How to disable triggering the picker on span click"
My HTML currently looks like the below. As you can see, I've added two `input-group-addons` with which the user will be able to go to the next / previous day without opening the datepicker.

[code]

**This is how I'm setting the date to the next / previous day:**
[code]
**The problem**
When I click on the span, the datepicker is opened, which it is expected to do for the addon with the calendar ic

[2017-01-18 11:15] atais commented on #18
have you tried option mentioned here: https://github.com/atais/angular-eonasdan-datetimepicker/issues/10 ?

```allowInputToggle: false```

[2017-01-18 11:30] #18 closed

[2017-01-18 13:24] pepijnolivier commented on #18
@atais Just tried it,  but as the name suggests, that option only has an impact on the `input`, not on the `input-addons`.

Really, I'd need an option like `allowInputAddonToggle: false`, but sadly there is no such option.

I just realized, since all this functionality is handled by the eonasdan datetimepicker, I should probably move this issue over there.

JSFiddle: https://jsfiddle.net/gjggqvd2/

[2017-01-18 13:46] pepijnolivier commented on #18
@atais FYI, I fixed the issue as follows (got the idea via https://github.com/Eonasdan/bootstrap-datetimepicker/issues/48 )

---

1. **Use a custom class for the extra addons**
I chose `custom-input-group-addon`. Make sure you're not using the `input-group-addon` class.
This already prevents the datepicker from being shown on click, but now the styling is off.

2. **Extend your styling**
I'm curre

[2017-01-22 11:20] yasar opened #19 "form is loaded in $dirty state when used with moment object"
Hello,

Here is the plunker forked from one of the example provided here:
[http://plnkr.co/edit/YcPQNstLRsFxND4r3a7Z](http://plnkr.co/edit/YcPQNstLRsFxND4r3a7Z)

I added a line showing the dirty state of the form at the very bottom.

This is a serious issue for me. Is this something to your knowledge? any workaround or fix for this?
Thank you.

[2017-01-23 08:57] atais commented on #19
Hi.

I admit it can be somehow an undesirable 'feature', but to be honest, I did not encounter this problem before. I have done a fast check and from what I see, even if the date is not set the form gets instantly `dirty`.

If you need a walkaround... I would simpy add this to your controller.
[code]

It works with a plunker: [http://plnkr.co/edit/L1HIMU](http://plnkr.co/edit/L1HIMU)

But to truly

[2017-01-27 13:51] shustariov-andrey commented on #19
Problem lays within this line: https://github.com/atais/angular-eonasdan-datetimepicker/blob/master/dist/angular-eonasdan-datetimepicker.js#L29. When setting ngModel's view value, it becomes $dirty

[2017-01-27 13:56] atais commented on #19
Thanks @shustariov-andrey !

But well... it is a core line of this wrapper.

I can see there is a walkaround, fe. http://stackoverflow.com/questions/28242788/how-to-reset-custom-input-directive-and-its-parent-form-to-pristine but it seems quite dirty to me.

I would appreciate any ideas.

[2017-01-27 13:58] shustariov-andrey commented on #19
How about

[code]
?

I mean, undefined value should not make model dirty at the first place

[2017-01-27 14:06] atais commented on #19
I should start putting comments in that code :cry:

the reason i check for ` !ngModel.$viewValue` instead of `ngModel.$viewValue === null` is that if you pass `undefined` or `false` to `ng-model` it would pass this value to the `datetimepicker`.

And actually `eonasdan-datetimepicker` does not like that and it causes console errors. The only value it accept is `moment` or `null` (I think `Date` wa

[2017-01-27 14:19] shustariov-andrey commented on #19
Ok, need to debug it deeper in this case...

[2017-01-27 14:32] shustariov-andrey commented on #19
ok, here what works fine for me now:

[code]

[2017-01-27 14:33] atais commented on #19
@shustariov-andrey would you fork the repo and make a PR?

I will test it and we can make a new version :+1: ?

[2017-01-27 14:34] shustariov-andrey commented on #19
ok, will do

[2017-02-03 09:17] atais commented on #19
Great! #21 fixed it.

Enjoy `0.3.9` available on bower & npm :smile: !

[2017-02-03 09:17] #19 closed

[2017-02-03 09:18] atais commented on #17
no response

[2017-02-03 09:18] #17 closed

[2017-02-03 09:19] atais commented on #16
new version is out + no answer

[2017-02-03 09:19] #16 closed

[2017-03-14 10:02] David91vlc opened #22 "Set time"
Hi,

I watch in exemples you pick the date but not the hours. How to set the datetimepicker to select date and time?

Regards

[2017-03-14 10:33] #22 closed

[2017-03-14 12:07] David91vlc commented on #1
@cosmarvv How to set locale in options? I don't understand. I tpye locale es but not works

Regards

[2017-04-13 12:05] matt-senseye opened #23 "Deprecation warning: value provided is not in a recognized RFC2822 or ISO format"
I am seeing the following warning in the console:

`Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO date formats are discouraged and will be removed in an upcoming major release. Please refer to http://momentjs.com/guides/#/warnings/js-date/ for mor

[2017-04-14 09:11] atais commented on #23
To be honest, I don't work on angular projects anymore.

Fortunately, this wrapper is quite a mature project and it does not need much attention from my side :-)

I am aware of this warning though....
If you are really annoyed by its presence, you need to debug those lines:

https://github.com/atais/angular-eonasdan-datetimepicker/blob/master/dist/angular-eonasdan-datetimepicker.js#L34
https://git

[2017-04-18 09:47] matt-senseye commented on #23
Thanks for replying @atais.

In the end I managed to work around it by forcing my date into ISO format before passing it in, using moment().toISOString(). That seems to eliminate the warning.

[2017-04-18 09:47] #23 closed

[2017-05-01 06:08] aajej opened #24 "ngMessages not working with datetimepicker"
I am having some trouble getting ngMessages working.  I am using a custom directive I found on
bootstrap to handle the transclusion, but it is only halfway working.  If I visit a field, then leave it all is ok, but if I just hit submit then the error message is not displayed on datetimepicker field.  It is displayed on the other field though.   Here is a plunker:  [Validation with ngMessages](http

[2017-05-01 17:25] atais commented on #24
Do you mind describing what you are actually trying to achieve? Maybe there is other (simpler) way to do it.

[2017-05-08 16:12] vladimirjegorov opened #25 "Support for jQuery 3 in dependencies"
Hi,
We are using jQuery 3 in our project. But when resolving dependencies, NPM complains that angular-eonasdan-datetimepicker depends on jquery ~2. Can the dependency be changed to ">=2" instead? I currently see no problem. Or is there any?
Thanks in advance :)

[2017-05-11 02:31] atais commented on #25
Can't be, because the library does not support jQuery 3.

[2017-05-11 07:02] vladimirjegorov commented on #25
Well, currently using jQuery 3 with eodasan picker in the project with Your angular wrapper, and the picker behaves as expected. In Eonasdan picker, actually, they use jQuery ">=1.8.3" which, as I understand would allow jQ v3. Or am I missing something?

Which library are you talking about? the picker or the wrapper? :)

[2017-05-11 07:34] atais commented on #25
Picker.

https://github.com/Eonasdan/bootstrap-datetimepicker/issues/1751

[2017-05-11 14:39] Dancia opened #26 "Manually entered dates issues"
I use format 'YYYY-MM-DD' option and bind ng-model="formData.date" to my field. Now if I enter '2015-03-05aaaaa', the date is displayed as '2015-03-05', but my $scope.formData.date becomes '2015-03-05aaaaa'. So even if I write error message to user that date is invalid, in input field it looks like totally valid value '2015-03-05'. How do I stop datetimepicker from automatically correcting my date

[2017-05-16 07:19] atais commented on #26
Well...

The only solution I could think of is that the wrapper should parse the input first.
This feature is missing.

But maybe there is an easier option.
Did you find any solution? I am not actively developing this wrapper anymore.

[2017-05-23 19:01] danielcastilho opened #27 "How to configure global datetimepicker options like in diosney version"
in diosney version existis a possibility of this code:
.module('app', [
				'datetimepicker'
			])
			.config([
				'datetimepickerProvider',
				function (datetimepickerProvider) {
					datetimepickerProvider.setOptions({
						locale: 'en'
					});
				}
			]);

[2017-05-23 19:03] danielcastilho commented on #27
This should be a new Pull Request?

[2017-05-29 08:47] atais commented on #27
what?
this was done since version 1.

[2017-05-29 08:47] #27 closed

[2017-05-29 08:48] #25 closed

[2017-06-23 07:11] CapitanMorgan commented on #26
In order to achieve this a few things need to be done.

1. Use the following options for the date time picker
keepInvalid: true, useStrict: true
[Options Reference](http://eonasdan.github.io/bootstrap-datetimepicker/Options/)
[Example Fiddle](http://jsfiddle.net/62qe7oxj/2/)

2. With those settings applied, entering such a type of data, the current version of the library goes into a infinite diges

[2017-07-24 08:49] fred87lim opened #30 "Cannot read property 'length' of undefined"
Hi. I was trying to add the datetimepicker into my webpage, and though the UI shown up fine but upon loading the webpage I see the following error:

`angular.js:14525 TypeError: Cannot read property 'length' of undefined
    at Function.map (jquery-1.10.2.js:789)
    at angular-eonasdan-datetimepicker.js:22
    at Scope.$digest (angular.js:17999)
    at Scope.$apply (angular.js:18269)
    at boots

[2017-07-24 08:51] atais commented on #30
you messed up something. but I do not know what because you did not provide your example.
follow the given examples.

[2017-07-24 12:37] #30 closed

[2017-07-24 12:39] atais commented on #30
sorry its impossible to help you

[2017-09-12 06:31] suresh2018 opened #32 "i m use this datetime picker i face this issue ."
![image](https://user-images.githubusercontent.com/30258184/30311274-12f7ffd6-97b2-11e7-8744-1bedcbf3580f.png)

[2017-09-12 09:15] atais commented on #32
this is not related to this lib

[2017-09-12 09:15] #32 closed

[2017-09-14 15:14] ddelella opened #33 "Not Compatible with MomentJS 2.9+"
If you run the plugin with any version of momentjs after 2.9+ the browser will produce a warning similar to the message below.  I was using the format "hh:mm A" which is a valid ISO format according to the latest momentjs documentation.

Deprecation warning: moment construction falls back to js Date. This is discouraged and will be removed in upcoming major release. Please refer to https://github.

[2017-09-14 15:15] ddelella commented on #33
NOTE: the error above was found in the Chrome developer console using the simple example off the main page.

[2017-10-13 13:47] szmalec opened #34 "Problem when used in dynamically loaded templates"
Hello.

Thank you for your code.

I would like to report some problem which occurs in specific case. I would like to use your directive inside template which is dynamically loaded via another directive which displays template in custom modal window. I have created [plunker with sample source code](https://plnkr.co/edit/2Zh8bpGOn557xlh3azFq?p=preview) which shows where problem is... I have also inc

[2017-10-23 05:41] mckinleymedia opened #35 "Inline doesn't stay open"
I just tested this on the plunker(http://plnkr.co/edit/ZSjN8f?p=preview), but the inline version disappears after a click.

[2017-10-23 08:06] atais commented on #35
this is how they work. they both disappear.

[2017-10-23 14:57] mckinleymedia commented on #35
Sorry I wasn't clear. I know that's how they work as is. I added the option 'inline' to the picker options like this:

[code]
THAT version disapears and should not.

[2017-11-27 15:37] szmalec commented on #34
Finally I have [updated code which creates modal](https://plnkr.co/edit/WmXe2eKbuoC0egTxWtOc?p=preview) - it always creates scope and destroys it on modal-close so there is no problem with angular-eonasdan-datetimepicker even if it does not contain [its own deinitialization code](https://www.google.pl/search?q=directive+destroy+event+handlers).

[2017-11-27 15:37] #34 closed

[2018-01-11 16:27] chaluvadis opened #36 "How to close the datetimepicker after selection of time"
hey how to close the datetime picker after selection of time, I tried using autoClose: true and autoclose: true,
when ever I use the auto close option i am getting the following errors.

`angular.js:13642 TypeError: option autoclose is not recognized!
    at Boolean.<anonymous> (https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/4.17.37/build/js/bootstrap-datetimepicker.min.js:8:22416)
    a

[2018-01-12 14:23] atais commented on #36
There is no `autoclose` option in http://eonasdan.github.io/bootstrap-datetimepicker/Options/
so this is not supported.

I think you want this one: http://eonasdan.github.io/bootstrap-datetimepicker/Options/#keepopen

[2018-01-12 14:23] #36 closed

[2018-08-16 17:53] benjaminrlawrence opened #37 "Support for Angular 6"
I'm using this in a project that is updating from Angular 2 to Angular 6 (I'm well aware that this is a huge jump). Will there be support for Angular 6 for this datetimepicker? If so, do you know what the timeframe for that is? Thanks!

[2018-08-21 16:06] benjaminrlawrence commented on #37
Closing, because this repository is for AngularJS, not Angular.

[2018-08-21 16:06] #37 closed

[2019-03-25 10:55] tahaerden opened #38 "Setting date-only value from controller makes datetimepicker to display one day before"
Here is the input:
`<input datetimepicker options="{format: 'YYYY-MM-DD'}" type="text" class="form-control" name="myDate" ng-model="myDate" required>`

And I set the date in controller:
`$scope.myDate = '2019-03-25'`

Now the directive shows the date as '2019-03-**24**'.  I think even if there is no time selection (because of the format) it still takes it into consideration as 00:00 and because of

[2019-03-25 16:03] atais commented on #38
try creating a date object of the date you want not a simple string

[2019-03-26 06:17] tahaerden commented on #38
Thanks for the quick response @atais ,

When I create a date object with the string date coming from API, something like this:
`$scope.myDate = new Date('2019-03-25')`

It works correctly because now myDate is:
`Mon Mar 25 2019 03:00:00 GMT+0300 (GMT+03:00)`
Does that mean somewhere in UTC minus timezone (such as ADT UTC-3) it will again shown one day before? Or are we safe now?

In addition, do y

[2019-03-26 09:44] atais commented on #38
You are facing a standard problem with TimeZones.

You are safe, but read about the issue and try to understand it.

Does not matter. It won't help with timezones either.

[2019-03-26 09:44] #38 closed

[2020-12-15 18:31] artsnr1 commented on #36
KeepOpen option also isn't working. And by default it should auto close

[2020-12-17 13:44] artsnr1 opened #40 "Setting minDate in erasing default/initial value (AngularJS)"

[2020-12-17 13:54] #40 closed

[2020-12-21 14:11] artsnr1 opened #41 "ng-change triggers when picker is opened first time (just open not change) (AngularJS)"

[2020-12-21 14:17] artsnr1 commented on #41
Setting defaultDate property resolves it.
Though it was already set via ng-model binding

[2020-12-21 14:17] #41 closed

[2021-06-01 09:07] gabn88 opened #42 "plnkr 's not working anymore"
I tried to use this on an AngularJS project, but the plnkrs aren't working anymore, making it hard to find out why the popup is not opening when clicking the input.

[2021-06-01 22:22] atais commented on #42
oh wow, they deleted them :(

well, please use the examples in the repo.
https://github.com/atais/angular-eonasdan-datetimepicker/tree/master/examples